:root {
  --primary: #597aa4;
  --primaryDarker: #18314c;
  --primaryDarker1: 24, 49, 76;
  --primaryDark: #3b587b;
  --primaryLight: #a6bddf;
  --complementary: #72562e;
  --complementaryLight: #bfa98f;
  --complementaryDark: #594020;
  --complementaryDarker: #3d250e;

  --Analogous1: #22a4b4;
  --Analogous1Light: #7dd1d8;
  --Analogous1Dark: #1e818b;
  --Analogous2: #3a4082;
  --Analogous2Light: #979dbe;
  --Analogous2Dark: #2c316f;

  --triadic1: #594283;
  --triadic1Light: #a59fc0;
  --triadic1Dark: #4a316f;
  --triadic2: #a8234e;
  --triadic2light: #d184a0;
  --triadic2Dark: #851f44;

  --antiqueBrass: #c49e85;
  --onyx: #393e41;
  --greenBlueCaryola: #3f88c5;
  --keppel: #44bba4;
  /*-s*/
  --somkyBack: #0f0a0a;
  --eerieBlack: #252422;
  --paleSilver: #ccc5b9;
  --ferngreen: #50723c;
  /*--*/
  --prussianBlue: #18314c;
  --goldenrodLight: #ebd685;
  --goldenrod: #dba627;
  --goldenrod2: #dcb12d;
  --goldenrodDark: #da9522;
  --yellowMunsell: #f4d232;

  --mobileWidth: 768;
}
body,
html {
  overflow-x: hidden;
}
* {
  scrollbar-color: var(--antiqueBrass) var(--eerieBlack);
}

.inverted {
  border-radius: 0 !important;
  background: var(--primaryDarker) !important;
}
/*------------Header----------------*/

.Mainheader {
  position: relative;
}
.header-cs {
  margin: 0 auto !important;
}
.pseudo-background-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.scrollD {
  width: fit-content;

  padding: 0.75em 1em;
  margin: 0;
  position: absolute;
  bottom: 7%;
  left: 50%;
}
.scrollD .icon {
  position: relative;
  left: -50%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
}
.scrollDvisible {
  visibility: visible;
  transition: opacity 0.5s linear;
}
.scrollDhidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

/*-remove header shadow-*/
.ui.tabular.menu {
  border: 0px !important;
}
.ui.tabular.menu .item {
  border: 0px !important;
}
.masthead {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.masthead-container {
  color: white !important;
  padding-top: 2rem;
}
.header-top {
  font-size: 0.9rem !important;
  letter-spacing: 8px;
}
.header-title {
  font-size: 3rem !important;
  letter-spacing: 3px;
}
.header-title-sub {
  font-size: 1.5rem !important;
  margin-top: 20px !important;
  letter-spacing: 3px;
}
.header-white {
  color: white !important;
}

.masthead-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-menu a {
  color: var(--primaryDark) !important;
}
.header-menu button {
  color: var(--primaryDark) !important;
}
/*-------------------------------*/
.content-segment {
  overflow: auto !important;
}

.container-quemsomos {
  text-align: center;
}

.container-quemsomos::before {
  content: "";
  display: block;
  background-color: var(--primaryDark);

  opacity: 0.25;
  width: 100%;
  margin-top: 50px;
  border-radius: 25px;
  height: 2px;
  float: left;
}
.container-quemsomos::after {
  content: "";
  display: block;
  background-color: var(--primaryDark);

  opacity: 0.25;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 25px;
  height: 2px;
  float: left;
}

.content-text {
  padding: 0.2em 0em 3em 0em;
  margin: auto;
}
/*-----------------*/
/*---roll-image----*/
/*-----------------*/
.roll-link-size {
  font-size: 1.3rem !important;
  vertical-align: middle;

  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}
.roll-link {
  color: var(--primary) !important;
}
.roll-link a:visited {
  color: var(--primary) !important;
}
.roll-link:hover {
  color: var(--primaryLight) !important;
}
.roll-link a:active {
  color: var(--primaryLight) !important;
}
.roll-img-container {
  border-radius: 0.3125em;
  position: relative;
  min-width: 100px;
  max-width: 449px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.roll-img {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
}
.roll-img:hover {
  -webkit-transform: scale(1.13); /* Safari and Chrome */
  -moz-transform: scale(1.13); /* Firefox */
  -ms-transform: scale(1.13); /* IE 9 */
  -o-transform: scale(1.13); /* Opera */
  transform: scale(1.13);
}

.roll-img-text {
  margin: 25px auto 40px auto !important;
}
.roll-img-text h2 {
  color: var(--primaryDarker) !important;
}

.roll-text {
  text-align: justify;
}
/*----------aboutus--------------*/
.aboutus-i {
  color: var(--primaryDarker) !important;
}

.roll-img-segment {
  box-shadow: none !important;
  border: 0 !important;
  border-radius: 0 !important;
}
/*--------------Footer-------------------*/
.footer-center {
  margin: 0 auto;
}

.footer-boxD {
  color: white !important;
  text-align: center;
  border-radius: 0 !important;
  border-top: 1px solid var(--goldenrod) !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  background: rgb(24, 49, 76) !important;
  background-image: linear-gradient(
    to top,
    var(--primaryDarker) 0%,
    var(--primaryDark) 520%
  ) !important;
}

.footer-boxD h4 a:hover {
  cursor: pointer;
  color: white !important;
}

.footer-segment {
  margin-top: 50px !important;
}
